h1.app-title {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 2em;
}

.filters {
  .bar {
    width: 150px;
  }

  header {
    text-align: center;
  }
}

.no-data {
  text-align: center;
  grid-column: 2/10;

  h3 {
    position: relative;
  top: 50%;
  }

}

.mission-id {
  font-size: 14px;
}

.grid-inside-filter {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

.card {
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  box-shadow: 0px 6px 6px 0px #d7c9c9;
  border-radius: 4px;
}


.mission-ids {
  font-weight: bold;
  font-size: 14px;
}



