

li {
  list-style-type: none;
}



.container {
  display: flex;
}

.card {
  padding: 10px;
  border: 1px solid red;
  margin-bottom: 10px;
}


.button {
  background-color: green;
  color: #fff;
}


